
<div><div>
<class="btn btn-primary"><%= link_to 'Add New Movie', new_movie_path %></a>
</div></div>


<% if !user_signed_in? %>

  <h1>Your Favorite Movies Reviewed</h1>
  <p><%= link_to "Sign Up To Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

   


<div class="row">
  <% @movie.each do |movie| %>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" <%= link_to image_tag(movie.poster, size: "300x300", alt: "Movie Image") ,movie%>  >
      <div class="card-body">
        <h5 class="card-title"> <%= link_to    movie.movies_name ,  movie %></li></h5>
        <p class="card-text"><small class="text-muted">Created at: <%= movie.created_at %></small></p>
        
        <% if(user_signed_in? && (current_user && current_user.admin))%>
        <td><%= link_to 'Edit', edit_movie_path(movie) %>|,,</td> |
        <td><%= link_to 'Destroy',movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% if(user_signed_in? && (current_user.id == movie.user_id)&& (!current_user.admin))%>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'Destroy',movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </div>
    </div>
  
</div>





<% end %>


