# <p id="notice"><%= notice %></p>
<h1>Movies#new</h1>
<p>Find me in app/views/movies/index.html.erb</p>
<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Your Favorite Movies Reviewed</h1>
  <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
  <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>
<h1>Movies</h1>

<table>
 <tr>
<p> <th>Movies_name</th></p>
<p>  <th>Description</th></p> 
<p>   <th>Movie length</th></p> 
<p>  <th>Actors name</th></p> 
<p> <th>Rating</th></p> 
<p> <th colspan="3"></th></p> 
</tr>
</table>
<table>
<tbody>
<% @movie.each do |movie| %>
  <tr>
    <td><%= movie.movies_name %></td>
    <td><%= movie.description %></td>
    <td><%= movie.movie_length %></td>
    <td><%= movie.actors_name %></td>
    <td><%= movie.rating %></td>
    <td><%=  image_tag(movie.poster, size: "200x200", alt: "Movie Image") %></td>
    <td><%= raw movie.tyoler %></td>
   
  </tr>
<% end %>
</tbody>
</table>
  









<%= link_to 'New Movie', new_movie_path %>

