
<div><div>
</div></div>

<% if !user_signed_in? %>

  <h1>Your Favorite Movies Reviewed</h1>
  </br>
  <p><%= link_to "Sign Up To Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

<br>


<div class="row">

<div class="rowl">

</div>


  <% @movie.each do |movie| %>
    <div class="card-deck">

    <div class="card">
   
      <img class="card-img-top" <%= link_to image_tag(movie.poster, size: "360x360", alt: "Movie Image") ,movie%>  
      

      <div class="card-body">
       <h5 class="card-title"> <%= link_to    movie.movies_name ,  movie %></li></h5>
       <p class="card-text"><small class="text-muted">rating: <%= movie.rating %>/5</small></p>

       <p class="card-text"><small class="text-muted">Created at: <%= movie.created_at %></small></p>
      #  <div> <p class="blue">________________________________________ </p> </div>
        <% if(user_signed_in? && (current_user && current_user.admin))%>
        <td><%= link_to 'Edit', edit_movie_path(movie) %>|,,</td> |
        <td><%= link_to ' | Destroy',movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% if(user_signed_in? && (current_user.id == movie.user_id)&& (!current_user.admin))%>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to ' | Destroy',movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    
    </div>
   
   












<script>

$(document).ready(function(){
  
  $('#stars li').on('mouseover', function(){
    var onStar = parseInt($(this).data('value'), 10); 
   
    $(this).parent().children('li.star').each(function(e){
      if (e < onStar) {
        $(this).addClass('hover');
      }
      else {
        $(this).removeClass('hover');
      }
    });
    
  }).on('mouseout', function(){
    $(this).parent().children('li.star').each(function(e){
      $(this).removeClass('hover');
    });
  });
  
  

  $('#stars li').on('click', function(){
    var onStar = parseInt($(this).data('value'), 10); 
    var stars = $(this).parent().children('li.star');
    
    for (i = 0; i < stars.length; i++) {
      $(stars[i]).removeClass('selected');
    }
    
    for (i = 0; i < onStar; i++) {
      $(stars[i]).addClass('selected');
    }
    
 
   
  });
  
  
});




</script>






















    





  

    </div>
    
   

<% end %>











