# <h1>Movies#show</h1>
# <p>Find me in app/views/movies/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Movies_name:</strong>
  <%= @movie.movies_name %>
</p>
<p><%= image_tag(@movie.poster, size: "200x200", alt: "Post Image") %></p>


<p>
  <strong>Movies_image</strong>
  <%=  link_to image_tag(@movie.poster), movies_path ,style:'width:100%;height:auto'%>
</p>
<%= image_tag(@movie.poster, size: "100x100", alt: "Movie Image") %>
<p>

<head>
  <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">

  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<div style="width:400px;height:400px">
<strong>Movies_tyoler</strong>
<%= raw @movie.tyoler %> </p>
</div>
<p>
  <strong>Description:</strong>
  <%= @movie.description %>
  <script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
</p>





<p>
  <strong>Movie length:</strong>
  <%= @movie.movie_length %>
</p>

<p>
  <strong>Actors name:</strong>
  <%= @movie.actors_name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

