<%= form_with(model: review, local: true) do |form| %>
    <% if review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
  
        <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :review %>
      <%= form.text_field :review %>
    </div>
  
    <div class="field">
  
    <%= form.select :movie_id, Movie.all.collect { |p| [ p.movies_name, p.id ] } %>
    </div>
  
    <div class="field">
  
    <%= form.select :user_id, User.all.collect { |p| [ p.user_name, p.id ] } %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  