<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<% if(user_signed_in? && (current_user.id == @review.user_id))%>
<td><%= link_to 'Edit', edit_review_path(@review) %></td>
<td><%= link_to 'Delete',@review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<%= link_to 'Back', reviews_path %>
<script>
    $('.review-rating').raty({
      
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    },path: '/assets/'
  });
</script>